<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ryutskr.babytimechart"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme">
        <!-- 
        android:allowBackup="true"
        android:backupAgent="com.babytimechart.utils.BabyTimeBackUpAgent" >
         
       
        <meta-data 
            android:name="com.google.android.backup.api_key" 
            android:value="AEdPqrEAAAAIORyYupCjCiHOfzcsQeZeQh0oL0rO-U6_VF9FrQ" />
            -->
        
        <activity
            android:name="com.babytimechart.activity.BabyTimeMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.babytimechart.fragment.PieChartBuilder" />
        <activity
            android:name="com.babytimechart.activity.BabyTimeDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babytimechart.activity.BabyTimeSetting"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.babytimechart.activity.BabyTimeProfile"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
    </application>

</manifest>